# Self-created build folder
Build

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Tags
tags

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Xcode projects
*.xcodeproj

# Bot token
.token

# Eclipse projects
.cproject
.project

# Visual studio code
.vscode

# Build directory
build

# CLion projects
.idea
